apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: microtodo-ui-ingress
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: microtodo-ui
            port:
              number: 80
